[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

[Dd]ebug/
.vscode/
.idea/
*.suo
*.user
*.userprefs
*.csproj
*.pidb
*.unityproj
*.booproj
*.svd

.DS_Store
Thumbs.db

.vscode/

.idea/

*.pidb.meta
*.pdb.meta
*.mdb.meta

*.apk
*.aab
*.exe
*.app
*.log
*.stacktrace

sysinfo.txt

/ProjectSettings/EditorBuildSettings.asset